* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    color: #333;
    text-align: left;
}
h1 {
    font-family: "Golos Text", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #252069;
    text-align: center;
}
h2 {
    font-family: "Golos Text", sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: #252069;
    text-align: center;
}
h3 {
    font-family: "Golos Text", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #252069;
    text-align: center middle;
}
h4 {
    font-family: "Golos Text", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #534cb1;
}
h5 {
    font-size: 18px;
    color: #666;
}
h6 {
    font-size: 16px;
    color: #777;
}
p {
    font-size: 14px;
    color: black;
    text-align: justify;
}
div {
    text-align: left;
}
span {
    font-size: 14px;
    color: #0066cc;
}
.destaque {
    font-size: 16px;
    color: black;
}
.secao {
    text-align: left;
    background-color:#d4d4d4;
    color: black
}
.link-social {
    font-size: 15px;
    color: #16a085
}
.tecnologia {
    font-size: 14px;
    color: #8e44ad;
}
img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.container {
  display: inline-block;
  position: relative;
  text-align: center;

}
.container p {
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 40px;
}